.jimu-widget-Location {
    width: 260px !important;
    height: 100%;
    position: fixed !important;
    left: 25px !important;
    top: 70px !important;
    background: rgba(31, 39, 48, .7);
    z-index: 41 !important;
    color: #fff;
}

.jimu-widget-Location div.location-box {
    height: 100%;
}

.jimu-widget-Location ul {
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.jimu-popup .title {
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    background: #094895;
    color: #fff;
}

.jimu-widget-Location li {
    list-style: none;
    /* text-align: center; */
    font-size: 14px;
    padding-top: 10px;
}

.jimu-widget-Location li span {
    display: inline-block;
    width: 25%;
    text-align: left;
}

.jimu-widget-Location li input {
    display: inline-block;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 0 10px;
    background: rgba(116, 116, 116, 0.7);
}

.jimu-widget-Location li input:nth-child(5) {
    border: 1px solid skyblue;
}

.jimu-widget-Location .location-box ul li:nth-child(1) input:last-child,
.jimu-widget-Location .location-box ul li:nth-child(2) input{
    cursor: pointer;
}


.jimu-widget-Location a {
    text-decoration: none;
    color: black;
}

.jimu-widget-Location a:hover {
    text-decoration: none;
    color: #336699;
}

.jimu-widget-Location #location-tab {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 35px;
    background: rgba(31, 39, 48, .7);
    /*margin: 1px 3px 1px 3px;*/
    /*z-index: 9;*/
}

.jimu-widget-Location #location-tab .tabul {
    height: 30px;
    line-height: 30px;
}

.jimu-widget-Location #location-tab ul {
    list-style: none;
    line-height: 30px;
    height: 30px;
}

.jimu-widget-Location #location-tab .tabul ul li {
    cursor: pointer;
    float: left;
    list-style: none;
    text-align: center;
    padding: 0px 0px;
    margin-right: 10px;
    width: 72px;
    height: 25px;
    line-height: 25px;
    background: rgba(116, 116, 116, 0.7);
    border-radius: 4px;
    color: #fff;
}

.jimu-widget-Location #location-tab ul li.on {
    /*border-top: 2px solid Saddlebrown;*/
    background: #094895;
}

.jimu-widget-Location #location-tab div {
    /*width: 100%;*/
    line-height: 24px;
    /*border-top: none;*/
    /*border: 1px solid #336699;*/
}

.jimu-widget-Location .location-box-list {
    /*margin-left: 1%;*/
    width: 100%;
    background: rgba(31, 39, 48, .7);
    position: relative;
    top: 10px;
    max-height: 440px;
    overflow: auto;
}

.jimu-widget-Location #location-tab {
    color: #000000;
}

.jimu-widget-Location .location-lb {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.jimu-widget-Location .location-zb {
    padding-left: 20px;
}

.jimu-widget-Location .location-lb a{
    color: #f2f2f2;
    font-weight: 700;
    font-size: 14px;
}
#Location {
    height: 100%;
    overflow: hidden;
}


#Location iframe {
    height: 95% !important;
}

.location-m-style {
    position: relative;
    text-align: center;
    zoom: 1;
}

.location-m-style:before,
.location-m-style:after {
    content: "";
    display: table;
}

.location-m-style:after {
    clear: both;
    overflow: hidden;
}

.location-m-style span {
    float: left;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #bdbdbd;
    font-size: 14px;
}

.location-m-style .active {
    float: left;
    margin: 3px 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #232323;
    color: #fff;
    font-size: 14px;
    border: 1px solid #232323;
}

.location-m-style a {
    float: left;
    margin: 3px 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #5B5B5B;
    border: 1px solid #5B5B5B;
    color: #bdbdbd;
    font-size: 14px;
}

.location-m-style a:hover {
    color: #fff;
    background: #232323;
}

.location-m-style .next,
.location-m-style .prev {
    font-family: "Simsun";
    font-size: 16px;
    font-weight: bold;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

.location-m-style input {
    float: left;
    margin: 3px 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}
#loc_page_sw{
    position: absolute;
    margin-top: 15px;
}

#loc_page_swe{
    position: absolute;
    margin-top: 15px;
}

#loc_page_yl{
    position: absolute;
    margin-top: 15px;
}

.location-m-style .jump-btn{
    width: 38px !important;
}


