.jimu-widget-onscreen-icon,
.jimu-widget-zoomslider .zoom,
.jimu-widget-homebutton .HomeButton .home,
.jimu-widget-mylocation .place-holder,
.jimu-widget-mylocation .place-holder.nohttps,
.jimu-widget-mylocation .place-holder.nohttps:hover,
.jimu-widget-extent-navigate .operation,
.jimu-widget-extent-navigate .operation.jimu-state-disabled,
.jimu-widget-extent-navigate .operation.jimu-state-disabled:hover,
.jimu-widget-fullScreen .fullScreen {
  background-color: #e83428;
  opacity: 0.8;
}
.esriPopup .titlePane,
.jimu-on-screen-widget-panel .jimu-panel-title.jimu-main-background {
  background-color: #e83428;
}
.jimu-widget-extent-navigate.jimu-corner-all .operation:not(.jimu-state-disabled):hover,
.jimu-widget-homebutton .HomeButton .home:hover,
.jimu-widget-mylocation .place-holder:not(.nohttps):hover,
.jimu-widget-onscreen-icon.jimu-state-selected,
.jimu-widget-zoomslider .zoom:hover,
.jimu-widget-fullScreen .fullScreen:hover,
.jimu-widget-onscreen-icon:hover{
  background-color: #e83428;
  opacity: 1;
}