.jimu-widget-SubmergenceAnalysis{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.roaming-tool ul {
    padding-left: 0px;
    margin-top: 12px !important;
}

.roaming-tool ul li {
    width: 120px;
    float: left;
    list-style: none;
    cursor: pointer;
}
.roaming-tool ul li:last-child {
    position: relative;
    width: 130px;
}
.roaming-tool input {
    position: absolute;
    right: -20px;
    height: 25px;
    width: 45px;
    top: 7px;
}

.roaming-tool a {
    position: absolute;
    right: -34px;
    font-size: 13px;
    top: 12px;
    color: #fff;
}

.roaming-tool ul li:last-child img {
    width: 170px;
}

.roaming-tool ul li img {
    width: 120px;
    height: 38px;
}