.jimu-widget-swipe .swipe-layer-menu{
  color: #fff;
  background: #222;
}

.claro .jimu-widget-swipe .swipe-layer-menu .dijitSelect .dijitButtonContents{
  background: transparent !important;
}
.claro .jimu-widget-swipe .swipe-layer-menu .dijitSelect .dijitArrowButton {
  background: transparent !important;
}

.jimu-widget-swipe .dijitValidationTextBoxLabel {
  color: #ccc;
}