.jimu-pocket-panel {
    overflow: visible;
    border-radius: 4px;
}

.jimu-pocket-panel>.jimu-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.jimu-pocket-panel .empty-tip {
    top: 50%;
    position: absolute;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    width: 100%;
}

.jimu-pocket-panel .jimu-panel-title {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    background-color: #fff;
}

.jimu-pocket-panel .jimu-panel-title>.max-btn {
    background: url(images/max.png) no-repeat center center;
    width: 35px;
    height: 100%;
    border-radius: 11px;
    opacity: 1;
    cursor: pointer;
    margin: 0 !important;
}

.esriPopupMobile .pointer.bottom {
    background: url(images/pointerbottom.png) no-repeat !important;
    height: 15px;
    bottom: -13px;
}

.esriPopupMobile .pointer.top {
    background: url(images/pointertop.png) no-repeat !important;
    top: -15px;
    height: 15px;
}